@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to Secrets, a website that lets you store secrets and either store them for the future or share them with friends.

<h2>How does it work?</h2>
Choose the "Input Secret" button on the left bar, and enter all the input. You can then come back to fetch the secret by choosing the "Fetch Secret" button and entering the required information again.