@page "/InputSecret"
@using Secrets.Web.Models
@inject HttpClient HttpClient

<h3>InputSecret</h3>
<input type="text" @bind="CurrentSecret" @oninput="e => CurrentSecret = (string) e.Value!" placeholder="Enter your secret here:"/>
<br>
Enter some info you can use in case you forget your passphrase: <br>
Please enter your birthdate:
<input type="date" @oninput="e => BirthDate = e.Value!"/>
<br>
Please enter your favourite letter:
<input type="text" @bind="FavouriteLetter" @oninput="e => FavouriteLetter = (string) e.Value!"/>
<br>
Please enter your favourite digit:
<input type="number" step="1" min="0" max="9" @bind="FavouriteDigit" @oninput="e => { string? _temp = (string? ) e.Value!; if (!string.IsNullOrEmpty(_temp)) { FavouriteDigit = short.Parse(_temp);}}"/>
<br>
<p hidden="@HidePassPhrase">Your passphrase is: @PassPhrase</p>
<button class="btn btn-primary" @onclick="InsertSecret"></button>
@code {
    private string CurrentSecret { get; set; } = null!;
    private object BirthDate { get; set; } = null!;
    private string FavouriteLetter { get; set; } = null!;
    private short FavouriteDigit { get; set; }

    private bool HidePassPhrase { get; set; } = true;
    private string PassPhrase { get; set; } = null!;
}